<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <h1>ERROR 404</h1>
</body>
</html>