    <body>
        <h1>Моя домашняя страница</h1>
        <hr/>
        <h3>Меню:</h3>
        <ul>
            <li><a href="index/">Основная страница</a></li>
            <li><a href="friends/">Друзья</a></li>
            <li><a href="posts/">Записи</a></li>
        </ul>
        <hr/>